<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <div class="main-container">
    <%- include('./_navbar', { auth: false }) %>
    <main>
        <h1 class="page-title" onclick="location.href = '/'">Block</h1>
        <h1><%= article.title %></h1>
        <div><%= article.updated_at %></div>
        <div style="text-align:left; width: 90%;"><%= article.content %></div>
    </main>
    </div>
</body>
</html>